{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="GSMP Minecraft Server" />
        <meta property="og:type" content="game" />
        <meta property="og:url" content="gsmp.pythonanywhere.com" />
        <meta property="og:image" content="{% static 'smp/preview.png' %}" />
        <link rel="icon" href="{% static 'smp/server-icon.png' %}">
        <title>GSMP Server</title>
        <link rel="stylesheet" href="{% static 'smp/style.css' %}">
    </head>
    <body>
        <div class="parallax"></div>
        <div id="container">
            <section id="main">
                <h1>GSMP Minecraft Server</h1>
                <p>The GSMP is a vanilla 1.17.1 surival multiplayer server. Our goal, to have fun, socialize, and create awesome builds that look cool 😎. The server can hold up to 10 players.</p>
                
                <div id="server-details">
                    <h1>Server Details</h1>
                    <p>IP: 51.79.176.35:12684<br>
                    Game Version: 1.16.5<br>
                    Server Location: Singapore</p>
                </div>
            </section>
            <section id="players">
                <h1>Players</h1>
                <button class="btn" onclick="setTimeout(function(){document.getElementById('Application_Form').style.display = 'block'}, 1)">Join now</button>
                {% for member in members %}
                    <div class="server_player" style="background-image: url('/static/smp/{{member.bg}}.png');
                        {% if member.Approved == False %}
                            background: gray;
                        {% endif %}"
                    >   
                        <img src="https://mc-heads.net/body/{{member.Username}}" style="
                            {% if member.Approved == False %}
                                filter: brightness(0);
                            {% endif %}
                        ">
                        <div class="overlay">
                            {% if member.Approved == False %}
                                PENDING APPROVAL <br><img src="{% static 'smp/loading.gif' %}" style="width:  50px; height: 50px; filter:grayscale(0);"><br>{{member.Username}}
                            {% else %}
                                {{member.Description}} <br> - {{member.Username}}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </section>
            <section id="map">
                <h1>World Map</h1>
                <span class="important-note">(Updates every hour)</span>
                <iframe src="http://139.99.187.127:8041/" frameborder="0"></iframe>
            </section>
            <section id="mods">
                <h1>Client-side Mods (Optional)</h1>
                <p>Our server uses "Simple Voice Chat" to let players talk in-game without a use of a 3rd party software. All you need is to have "Simple Voice Chat" installed on your client.

                    If you have no idea how to install mods, then Google is your best friend. You can download fabric installer <a href="https://fabricmc.net/use/">here</a>.</p>
                <span class="important-note">NOTE: You can join the server with the normal client, but you wont be able to use proximity chat</span>
                <ul id="mods-list">
                    <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/"><li>Simple Voice Chat (FabricAPI required.)<br><img src="{% static 'smp/simplevoicechat.png' %}"></li></a>
                    <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/fabric-api"><li>FabricAPI<br>(API)<br><img src="{% static 'smp/fabricapi.png' %}"></li></a>
                    <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/optifabric"><li>OptiFabric (Optifine required.)<br><img src="{% static 'smp/optifabric.png' %}"></li></a>
                    <a target="_blank" href="https://optifine.net/downloads"><li>Optifine<br>(Performance)<br><img src="{% static 'smp/optifine.jpg' %}"></li></a>
                    <a target="_blank" href="https://www.curseforge.com/minecraft/mc-mods/phosphor"><li>Phosphor (Performance)<br><img src="{% static 'smp/phosphor.jpg' %}"></li></a>
                 </ul>
            </section>
        </div>
        <footer class="footer">
            <h3>Privacy Policy</h3>
            <p>Website written and maintained by GeloFunz</p>
        </footer>
        <div id="Application_Form">
            Application Form
            <form method="POST"> {%csrf_token%}
                <p>MC Username:</p>
                {{form.Username}}
                <p>Make a short description about yourself:</p>
                {{form.Description}}
                <p>Country:</p>
                {{form.Country}}
                <p>Age:</p>
                {{form.Age}}
                <p>Hobbies:</p>
                {{form.Hobbies}}
                <p>Stone or Andesite?</p>
                {{form.Question1}}
                <p>How often will you be on the server?</p>
                {{form.Question2}}
                <p>Extra remarks.</p>
                {{form.Question3}}
                <span class="important-application-note">IMPORTANT: Please do not hack, the goal of this server is to meet new people and have fun, please don't be that guy.</span>
                <input type="submit" class="btn" value="Send Request">
            </form>
        </div>
        {% if requestsent %}
        <div id="requestnotif">
            <h1>Request Sent</h1><img src="{% static 'smp/check.png' %}"><p>You will be whitelisted on the server once your request has been reviewed and accepted.</p>
        </div>
        {% endif %}
        <script>
            var body = document;
            var except = document.getElementById('Application_Form');
            var except2 = document.getElementById('requestnotif');

            body.addEventListener("click", function () {
                document.getElementById('Application_Form').style.display = 'none';
                document.getElementById('requestnotif').style.display = 'none';
            }, false);
            except.addEventListener("click", function (ev) {
                ev.stopPropagation(); //this is important! If removed, you'll get both alerts
            }, false);
            except2.addEventListener("click", function (ev) {
                ev.stopPropagation(); //this is important! If removed, you'll get both alerts
            }, false);

            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>
    </body>
</html>
